<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoxiang.mapper.AreaMapper">

    <resultMap id="wholeResultMap" type="com.yoxiang.vo.AreaVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>

    <select id="getList" resultMap="wholeResultMap">
        select id, name, level, parent_id
        from area
        <where>
            <if test="id != null">
                parent_id = #{id, jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>